openapi: 3.0.3
info:
  title: Camoo Payment API
  version: "1.0.0"
  description: |
    Camoo Payment API for cashout, transaction verification, and account balance access.

    🔔 **Payment Notifications**
    - Sent via HTTP GET to the merchant `notification_url`
    - Signed using HMAC-SHA256 derived from the API Secret
    - Signature is provided as the `sig` query parameter
    - Merchants MUST verify the signature before trusting the data. The merchant endpoint MUST be idempotent. Camoo may retry notifications until HTTP 200 is returned.
    
    - Base server example: http://localhost:8000
    - Authentication uses two header API credentials: X-Api-Key and X-Api-Secret.
    - [PHP SDK](https://github.com/camoo/payment-api)

externalDocs:
    description: Postman Collection
    url: https://raw.githubusercontent.com/camoo/payment-api/refs/heads/main/docs/postman/Camoo-Payment-API.postman_collection.json

servers:
  - url: https://api.camoo.cm/v1/payment
    description: Production server
security:
  - ApiKeyAuth: []
    ApiSecretAuth: []
paths:
  /cashout:
    post:
      tags: [Payment]
      summary: Create a cashout (process payment / transfer)
      operationId: createCashOut
      x-codeSamples:
        - lang: cURL
          source: |
            curl -sS -X POST 'https://api.camoo.cm/v1/payment/cashout' \
            -H 'Content-Type: application/json' \
            -H 'X-Api-Key: YOUR_API_KEY' \
            -H 'X-Api-Secret: YOUR_API_SECRET' \
            -d '{
              "amount": 100,
              "phone_number": "+1234567890",
              "notification_url": "https://myapp.com/webhook",
              "currency": "XAF",
              "external_reference": "my-site-reference",
              "shopping_cart_details": {"top_id": "ORD-12345"}
            }'
        - lang:  Python
          source: |
            import requests

            url = 'https://api.camoo.cm/v1/payment/cashout'
            headers = {
              'Content-Type': 'application/json',
              'X-Api-Key': 'YOUR_API_KEY',
              'X-Api-Secret': 'YOUR_API_SECRET'
            }
            data = {
              "amount": 100,
              "phone_number": "+1234567890",
              "notification_url": "https://myapp.com/webhook",
              "currency": "XAF",
              "external_reference": "my-site-reference",
              "shopping_cart_details": {"top_id": "ORD-12345"}
            }

            response = requests.post(url, json=data, headers=headers)
            print(response.json())

        - lang:   Java
          source: |
            import java.io.OutputStream;
            import java.net.HttpURLConnection;
            import java.net.URL;

            public class CashOutExample {
                public static void main(String[] args) {
                    try {
                        URL url = new URL("https://api.camoo.cm/v1/payment/cashout");
                        HttpURLConnection conn = (HttpURLConnection) url.openConnection();
                        conn.setRequestMethod("POST");
                        conn.setRequestProperty("Content-Type", "application/json");
                        conn.setRequestProperty("X-Api-Key", "YOUR_API_KEY");
                        conn.setRequestProperty("X-Api-Secret", "YOUR_API_SECRET");
                        conn.setDoOutput(true);

                        String jsonInputString = "{"
                                + "\"amount\": 100,"
                                + "\"phone_number\": \"+1234567890\","
                                + "\"notification_url\": \"https://myapp.com/webhook\","
                                + "\"currency\": \"XAF\","
                                + "\"external_reference\": \"my-site-reference\","
                                + "\"shopping_cart_details\": {\"top_id\": \"ORD-12345\"}"
                                + "}";

                        try(OutputStream os = conn.getOutputStream()) {
                            byte[] input = jsonInputString.getBytes("utf-8");
                            os.write(input, 0, input.length);           
                        }

                        int code = conn.getResponseCode();
                        System.out.println("Response Code: " + code);
                    } catch (Exception e) {
                        e.printStackTrace();
                    }
                }
            }

        - lang:   PHP
          source: |
            <?php
            $url = 'https://api.camoo.cm/v1/payment/cashout';
            $data = array(
              "amount" => 100,
              "phone_number" => "+1234567890",
              "notification_url" => "https://myapp.com/webhook",
              "currency" => "XAF",
              "external_reference" => "my-site-reference",
              "shopping_cart_details" => array("top_id" => "ORD-12345")
            );

            $options = array(
              'http' => array(
                'header'  => "Content-Type: application/json\r\n" .
                             "X-Api-Key: YOUR_API_KEY\r\n" .
                             "X-Api-Secret: YOUR_API_SECRET\r\n",
                'method'  => 'POST',
                'content' => json_encode($data),
              ),
            );
            $context  = stream_context_create($options);
            $result = file_get_contents($url, false, $context);
            if ($result === FALSE) {
              die('Error occurred');
            }

            var_dump($result);
            ?>

        - lang:   Ruby
          source: |
            require 'net/http'
            require 'uri'
            require 'json'

            uri = URI.parse("https://api.camoo.cm/v1/payment/cashout")
            request = Net::HTTP::Post.new(uri)
            request.content_type = "application/json"
            request["X-Api-Key"] = "YOUR_API_KEY"
            request["X-Api-Secret"] = "YOUR_API_SECRET"
            request.body = JSON.dump({
              "amount" => 100,
              "phone_number" => "+1234567890",
              "notification_url" => "https://myapp.com/webhook",
              "currency" => "XAF",
              "external_reference" => "my-site-reference",
              "shopping_cart_details" => { "top_id" => "ORD-12345" }
            })

            req_options = {
              use_ssl: uri.scheme == "https",
            }

            response = Net::HTTP.start(uri.hostname, uri.port, req_options) do |http|
              http.request(request)
            end

            puts response.body

        - lang:  JavaScript
          source: |
            const axios = require('axios');

            const data = {
              amount: 100,
              phone_number: "+1234567890",
              notification_url: "https://myapp.com/webhook",
              currency: "XAF",
              external_reference: "my-site-reference",
              shopping_cart_details: { top_id: "ORD-12345" }
            };

            axios.post('https://api.camoo.cm/v1/payment/cashout', data, {
              headers: {
                'Content-Type': 'application/json',
                'X-Api-Key': 'YOUR_API_KEY',
                'X-Api-Secret': 'YOUR_API_SECRET'
              }
            })
            .then(response => {
              console.log(response.data);
            })
            .catch(error => {
              console.error(error);
            }); 

      description: |
        Initiate a cashout to a recipient (mobile-money, bank or other provider).
        Request must be authenticated with X-Api-Key and X-Api-Secret headers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashOutRequest'
            example:
              amount: 100
              phone_number: "+1234567890"
              notification_url: "https://myapp.com/webhook"
              currency: "XAF"
              external_reference: "123-user-site-reference"
              shopping_cart_details:
                order_id: "ORD-12345"
                email: "user@test.com"
                customerName: "John Doe"
                description: "Payment for order ORD-12345"
                langKey: "fr"
                items:
                  - item_id: "item-001"
                    name: "Product 1"
                    quantity: 2
                    unit_price: 25.0
                  - item_id: "item-002"
                    name: "Product 2"
                    quantity: 1
                    unit_price: 50.0
                user_browser_data:
                  userAgent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
                  acceptLanguage: "en-US,en;q=0.9"
                  ipAddress: "1.2.3.4"
      responses:
        "201":
          description: Cashout created / accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashOutResponse'
        "400":
          description: Bad request (validation error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Authentication failed (invalid or missing API credentials)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "402":
          description: Payment or account insufficient funds (implementation-dependent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Unprocessable entity (provider specific validation error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error / provider failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      callbacks:
        paymentStatus:
          '{$request.body#/notification_url}':
            get:
              summary: Payment status notification (signed)
              description: |
                Camoo sends a signed HTTP GET request to the merchant's
                notification URL whenever the payment status changes.

                The merchant endpoint MUST be idempotent.
                Camoo may retry notifications until HTTP 200 is returned.

                The request MUST be verified using the API Secret.

                Signature base string:
                  payment_id={value}&status={value}&status_time={value}[&trx={value}]
              parameters:
                - $ref: '#/components/parameters/PaymentId'
                - $ref: '#/components/parameters/PaymentStatus'
                - $ref: '#/components/parameters/PaymentStatusTime'
                - $ref: '#/components/parameters/PaymentTrx'
                - $ref: '#/components/parameters/PaymentSignature'
              responses:
                '200':
                  description: Notification accepted
                '401':
                  description: Invalid signature
                '408':
                  description: Notification expired
                '409':
                  description: Duplicate notification (already processed)


  /verify:
    get:
      tags: [Payment]
      summary: Verify transaction status
      operationId: verifyTransaction
      x-codeSamples:
        - lang: cURL
          source: |
            curl -sS -X GET 'https://api.camoo.cm/v1/payment/verify?id=934ca3f6-dad6-2005-ae36-c01ca3354183' \
            -H 'X-Api-Key: YOUR_API_KEY' \
            -H 'X-Api-Secret: YOUR_API_SECRET'
        - lang: Python
          source: |
            import requests

            url = 'https://api.camoo.cm/v1/payment/verify'
            headers = {
              'X-Api-Key': 'YOUR_API_KEY',
              'X-Api-Secret': 'YOUR_API_SECRET'
            }
            params = {
              'id': '934ca3f6-dad6-4503-ae36-c01ca3354183'
            }

            response = requests.get(url, headers=headers, params=params)
            print(response.json())

        - lang:  Java
          source: |
            import java.io.BufferedReader;
            import java.io.InputStreamReader;
            import java.net.HttpURLConnection;
            import java.net.URL;

            public class VerifyTransactionExample {
                public static void main(String[] args) {
                    try {
                        String transactionId = "934ca3f6-dad6-4503-ae36-c01ca3354183";
                        URL url = new URL("https://api.camoo.cm/v1/payment/verify?id=" + transactionId);
                        HttpURLConnection conn = (HttpURLConnection) url.openConnection();
                        conn.setRequestMethod("GET");
                        conn.setRequestProperty("X-Api-Key", "YOUR_API_KEY");
                        conn.setRequestProperty("X-Api-Secret", "YOUR_API_SECRET");

                        BufferedReader in = new BufferedReader(new InputStreamReader(conn.getInputStream()));
                        String inputLine;
                        StringBuilder content = new StringBuilder();
                        while ((inputLine = in.readLine()) != null) {
                            content.append(inputLine);
                        }
                        in.close();

                        System.out.println("Response: " + content.toString());
                    } catch (Exception e) {
                        e.printStackTrace();
                    }
                }
            }

        - lang:   PHP
          source: |
            <?php
            $transactionId = '934ca3f6-dad6-4503-ae36-c01ca3354183';
            $url = 'https://api.camoo.cm/v1/payment/verify?id=' . urlencode($transactionId); 
            $options = array(
              'http' => array(
                'header'  => "X-Api-Key: YOUR_API_KEY\r\n" .
                             "X-Api-Secret: YOUR_API_SECRET\r\n",
                'method'  => 'GET',
              ),
            );
            $context  = stream_context_create($options);
            $result = file_get_contents($url, false, $context);
            if ($result === FALSE) {
              die('Error occurred');
            }
            var_dump($result);
            ?>

        - lang:  Ruby
          source: |
            require 'net/http'
            require 'uri'

            transaction_id = '934ca3f6-dad6-4503-ae36-c01ca3354183'
            uri = URI.parse("https://api.camoo.cm/v1/payment/verify?id=#{transaction_id}")
            request = Net::HTTP::Get.new(uri)
            request["X-Api-Key"] = "YOUR_API_KEY"
            request["X-Api-Secret"] = "YOUR_API_SECRET"

            req_options = {
              use_ssl: uri.scheme == "https",
            }

            response = Net::HTTP.start(uri.hostname, uri.port, req_options) do |http|
              http.request(request)
            end

            puts response.body

        - lang:  JavaScript
          source: |
            const axios = require('axios');

            const params = {
              id: '934ca3f6-dad6-4503-ae36-c01ca3354183'
            };

            axios.get('https://api.camoo.cm/v1/payment/verify', {
              headers: {
                'X-Api-Key': 'YOUR_API_KEY',
                'X-Api-Secret': 'YOUR_API_SECRET'
              },
              params: params
            })
            .then(response => {
              console.log(response.data);
            })
            .catch(error => {
              console.error(error);
            });
      description: |
        Return the payment/cashout resource for the given id. The repository expects the query param name `id`.
        Request must be authenticated with X-Api-Key and X-Api-Secret headers.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: The transaction id to verify (server-generated id)
      responses:
        "200":
          description: Payment verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /account:
    get:
      tags: [Account]
      summary: Get account balance and metadata
      operationId: getAccountInfo
      x-codeSamples:
        - lang: cURL
          source: |
            curl -sS -X GET 'https://api.camoo.cm/v1/payment/account' \
            -H 'X-Api-Key: YOUR_API_KEY' \
            -H 'X-Api-Secret: YOUR_API_SECRET'
        - lang: Python
          source: |
            import requests

            url = 'https://api.camoo.cm/v1/payment/account'
            headers = {
              'X-Api-Key': 'YOUR_API_KEY',
              'X-Api-Secret': 'YOUR_API_SECRET'
            }

            response = requests.get(url, headers=headers)
            print(response.json())

        - lang: Java
          source: |
            import java.io.BufferedReader;
            import java.io.InputStreamReader;
            import java.net.HttpURLConnection;
            import java.net.URL;

            public class GetAccountInfoExample {
                public static void main(String[] args) {
                    try {
                        URL url = new URL("https://api.camoo.cm/v1/payment/account");
                        HttpURLConnection conn = (HttpURLConnection) url.openConnection();
                        conn.setRequestMethod("GET");
                        conn.setRequestProperty("X-Api-Key", "YOUR_API_KEY");
                        conn.setRequestProperty("X-Api-Secret", "YOUR_API_SECRET");

                        BufferedReader in = new BufferedReader(new InputStreamReader(conn.getInputStream()));
                        String inputLine;
                        StringBuilder content = new StringBuilder();
                        while ((inputLine = in.readLine()) != null) {
                            content.append(inputLine);
                        }
                        in.close();

                        System.out.println("Response: " + content.toString());
                    } catch (Exception e) {
                        e.printStackTrace();
                    }
                }
            }

        -  lang: PHP
           source: |
            <?php
            $url = 'https://api.camoo.cm/v1/payment/account';
            $options = array(
              'http' => array(
                'header'  => "X-Api-Key: YOUR_API_KEY\r\n" .
                             "X-Api-Secret: YOUR_API_SECRET\r\n",
                'method'  => 'GET',
              ),
            );
            $context  = stream_context_create($options);
            $result = file_get_contents($url, false, $context);
            if ($result === FALSE) {
              die('Error occurred');
            }
            var_dump($result);
            ?>

        - lang: Ruby
          source: |
            require 'net/http'
            require 'uri'

            uri = URI.parse("https://api.camoo.cm/v1/payment/account")
            request = Net::HTTP::Get.new(uri)
            request["X-Api-Key"] = "YOUR_API_KEY"
            request["X-Api-Secret"] = "YOUR_API_SECRET"

            req_options = {
              use_ssl: uri.scheme == "https",
            }

            response = Net::HTTP.start(uri.hostname, uri.port, req_options) do |http|
              http.request(request)
            end

            puts response.body

        - lang: JavaScript
          source: |
            const axios = require('axios');

            axios.get('https://api.camoo.cm/v1/payment/account', {
              headers: {
                'X-Api-Key': 'YOUR_API_KEY',
                'X-Api-Secret': 'YOUR_API_SECRET'
              }
            })
            .then(response => {
              console.log(response.data);
            })
            .catch(error => {
              console.error(error);
            }); 

      description: Returns the account balance and viewed timestamp. Requires API credentials.
      responses:
        "200":
          description: Account information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Public API key identifying the caller's account.
    ApiSecretAuth:
      type: apiKey
      in: header
      name: X-Api-Secret
      description: Secret for authenticating the request (use together with X-Api-Key).
  parameters:
    PaymentId:
      name: payment_id
      in: query
      required: true
      schema:
        type: string

    PaymentStatus:
      name: status
      in: query
      required: true
      schema:
        type: string
        enum:
          - CREATED
          - INITIALISED
          - IN_PROGRESS
          - CONFIRMED
          - SUCCESS
          - PENDING
          - FAILED
          - CANCELED
          - ERRORED
          - UNDERINVESTIGATION

    PaymentStatusTime:
      name: status_time
      in: query
      required: true
      schema:
        type: string
        format: date-time

    PaymentTrx:
      name: trx
      in: query
      required: false
      schema:
        type: string

    PaymentSignature:
      name: sig
      in: query
      required: true
      schema:
        type: string
      description: HMAC-SHA256 signature using the API Secret

  x-signature:
    algorithm: HMAC-SHA256
    secret: API Secret (X-Api-Secret)
    encoding: RFC3986
    description: |
      Signature is computed by:
      1. Removing `sig` from parameters
      2. Sorting parameters alphabetically
      3. Building query string with RFC3986 encoding
      4. Applying HMAC-SHA256 using API Secret

  schemas:
    CashOutRequest:
      type: object
      required:
        - amount
        - phone_number
      properties:
        amount:
          type: number
          format: float
          description: |
            Monetary amount to cash out in major currency units (e.g., 100 means 100 XAF or 100 XOF depending on currency).
        phone_number:
          type: string
          description: Recipient phone number in international format (E.164 recommended). Required for mobile-money providers.
        notification_url:
          type: string
          format: uri
          description: HTTPS endpoint that will receive asynchronous status updates (webhook). Optional but recommended.
        external_reference:
          type: string
          description: Client-provided reference identifier for tracking the transaction (e.g., "123-user-site-reference", "my-site-reference"). Optional.
        shopping_cart_details:
          type: object
          additionalProperties: true
          description:  Free-form JSON object with contextual data (order id, platform reference, etc.)
          properties:
            user_browser_data:
              additionalProperties: true
              type: object
              description: Information about the user's browser and network environment.
              properties:
                userAgent:
                  type: string
                  description: User-Agent string from the user's browser.
                acceptLanguage:
                  type: string
                  description: Accept-Language header value indicating the user's language preferences.
                ipAddress:
                  type: string
                  description: IP address of the user making the request.

    Payment:
      type: object
      properties:
        id:
          type: string
          description: Server-generated transaction identifier
        external_reference:
          type: string
          description: Client-provided reference identifier
        amount:
          type: integer
          description: Final settled amount (rounded by provider)
        currency:
          type: string
          description: Currency code (e.g., XAF, XOF)
        created_at:
          type: integer
          format: int64
          description: integer timestamp
        network:
          type: string
          description: Provider or network label (e.g., MTN, ORANGE, stripe)
        status:
          type: string
          description: Transaction status. Please refer to the possible values below case-sensitive.
          enum:
            - CREATED
            - INITIALISED
            - IN_PROGRESS
            - CONFIRMED
            - SUCCESS
            - PENDING
            - FAILED
            - CANCELED
            - ERRORED
            - UNDERINVESTIGATION
        fees:
          type: number
          format: float
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        notified_at:
          type: string
          format: date-time
          nullable: true
        phone_number:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        net_amount:
          type: integer
          format: float
          nullable: true

    CashOutResponse:
      type: object
      properties:
        message:
          type: string
          description: Status message
        cashOut:
          $ref: '#/components/schemas/Payment'
        code:
          type: integer
          description: Numeric code representing the result
      example:
        message: "created"
        cashOut:
          id: "934ca3f6-dad6-4503-ae36-c01ca3354183"
          amount: 100
          currency: "XAF"
          created_at: 1768646496
          network: "MTN"
          status: "PENDING"
          code: 201
    VerifyResponse:
      type: object
      properties:
        code:
          type: integer
          description: Numeric code representing the result
        message:
          type: string
          description: Status message
        verify:
          $ref: '#/components/schemas/Payment'
      example:
        code: 200
        message: "success"
        verify:
          id: "934ca3f6-dad6-2005-ae36-c01ca3354183"
          external_reference: "my-site-reference"
          amount: 100
          currency: "XAF"
          fees: 3
          created_at: 1768646496
          network: "orange"
          status: "success"
          completed_at: null
          notified_at: "2026-01-02T23:14:03+01:00"
          phone_number: "+1234567890"
          net_amount: 100
          country: "CM"
    PaymentNotification:
      type: object
      required:
        - payment_id
        - status
        - status_time
        - sig
      properties:
        payment_id:
          type: string
          description: Camoo-generated payment identifier
        status:
          type: string
          description: Current payment status
          example: success
        status_time:
          type: string
          format: date-time
          description: ISO-8601 timestamp of the status
        trx:
          type: string
          description: Merchant external reference (if provided)
          nullable: true
        sig:
          type: string
          description: |
            HMAC-SHA256 signature of the query parameters,
            generated using the API Secret.

    AccountResponse:
      type: object
      properties:
        code:
          type: integer
          description: Numeric code representing the result
        message:
          type: string
          description: Status message
        account:
          type: object
          properties:
            balance:
              type: integer
              description: Account balance in major currency units
            currency:
              type: string
              description: Currency code (e.g., XAF, XOF)
            date:
              type: string
              format: date-time
              description: Timestamp of when the balance was viewed
      example:
        code: 200
        message: "success"
        account:
          balance: 1000000
          currency: "XAF"
          date: "2026-01-17T10:45:57+00:00"

    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          description: Numeric code representing the error
        message:
          type: string
          example: "Invalid payload"
        errors:
          type: object
          additionalProperties: true
          example:
            amount: "Amount must be numeric and greater than 0"
            phone_number: "Phone number must include country code"

  examples:
    CashOutExample:
      summary: Typical cashout request
      value:
        amount: 100
        phone_number: "+1234567890"
        notification_url: "https://myapp.com/webhook"
        currency: "XAF"
        external_reference: "my-site-reference"
        shopping_cart_details:
          order_id: "ORD-12345"
          email: "user@test.com"
          customerName: "John Doe"
          description: "Payment for order ORD-12345"
          langKey: "fr"
          items:
            - item_id: "item-001"
              name: "Product 1"
              quantity: 2
              unit_price: 25.0
            - item_id: "item-002"
              name: "Product 2"
              quantity: 1
              unit_price: 50.0
          user_browser_data:
            userAgent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
            acceptLanguage: "en-US,en;q=0.9"
            ipAddress: "1.2.3.4"

tags:
  - name: Payment
    description: Payment / cashout operations
  - name: Account
    description: Account and balance operations